# **Data Types and Structures Theoretical Questions**

Q1) What are data structures, and why are they important?
- Data structures are essential tools in Python that enable data storage, retrieval and manipulation. Data structures are specialized formats for organizing, storing and managing data so that it can be used efficiently. Data structures are a way of organizing data so that it can be accessed more efficiently depending on the situation. Some of the data structures in Python are Lists, Tuple, Sets and Dictionaries. Each type of Data Structure is optimized for specific tasks, each have specific format of organizing, processing, retrieving and storing data.

 **Why are they important?**
  - To handle data efficiently: Help to store data in structured way.
  - Improves code readability: Provides clean, readable and maintainable code.
  - Improves performance: Make operations like searching, sorting, and updating faster.
  - Supports complex applications: Handles complex data like trees, graphs and queues.
  - Simplify problem solving: Many real-world problems requires structured data and specific operations.

Q2)  Explain the difference between mutable and immutable data types with examples?
- Mutable data types are data types whose contents can be changed after it is created without changing the object's identity(memory address). We can add, remove or change elements inside that data type without changing the address of that particular object. These data types are useful when we need to store and update data frequently. Some mutable data types in Python are lists, Sets and Dictionaries.

In [ ]:
# Example of mutable datatypes using a list

a = [1,2,3,5]   # list is created
a[3]="Four"
print(a)  # list is being changed, and hence can be mutated

[1, 2, 3, 'Four']

- Immutable data types are data types whose contents cannot be changed after it is created. We cannot add, remove or change any elements inside immutable data types. Once created, the value of these data types is permanent. Some immutable data types in Python are tuple, strings and numbers like float and interger.

In [ ]:
# Example of immutable datatypes using a tuple

a=(1,2,3,4)
a[3]="Four"   # this will cause an error, tuple does not support item asssignment

# tuples are immutable

Q3) What are the main differences between lists and tuples in Python?
- Lists are mutable data structures in Python. While declaring lists we use square brackets and it can store hetereogeneous data inside it. Lists are mutable because lists are designed to store dynamic collection of items. Lists allows modification of content inside it. Lists are meant to store data or items that are likely to be changed or modified like to-do lists, search results, user inputs etc. Lists are slower data structure as compared to tuples.
- Tuples are immutable data structures in Python. While declaring tuples, we use round brackets and it can also store heterogeneous data. Tuples are immutable because, they are designed for fixed collection of items that doesn't require further modifications or should not be changed accidentally. The data inside the tuple remains consistent and protected throughout the program. Tuples are faster data structure as compared to lists.

Q4) Describe how dictionaries store data?
- A dictionary in Python is a built-in data structure that stores the data in key-value pairs. It allows you to associate a key with a specific value, making it ideal for fast lookups and data retrieval. All the keys inside the dictionary should be unique. The values inside the dictionary is accessed using the key associated with it. The Keys used inside the dictionary should be hashable.

In [ ]:
# Below code shows how data is stored inside a dictionary

dict1= { "Name": "Balu", "Age": 26, "City": "Delhi"}
for i,j in dict1.items():
  print(f" {i} : {j}")

 Name : Balu
 Age : 26
 City : Delhi

Q5) Why might you use a set instead of a list in Python?
- Both sets and lists are used to store collection of items. Sets offers specific advantages in certain situatons. Key reasons to use sets instead of lists:
  - No duplicate values: Sets automatically remove duplicate values inside it while lists do not. Duplicate elements are automatically removed inside a set.
  - Faster membership testing: Sets allows the membership operator to operate faster as compared to lists. This means that checking if an element is present inside a set is much faster than checking if an element is present inside a list, especially for larger collection of data.
  - Supports mathematical operations: Sets supports mathematical operations like union, intersection and difference, which are not available in lists.
 - Cleaner code: Using a set simplifies the logic and no need to manually check for duplicates.

Q6) What is a string in Python, and how is it different from a list?
- In Python, a list is a collection of items that can be of any data type and can be modified(mutable). Lists are declared using square brackets and can contain multiple elements separated by commas. While string is a sequence of characters enclosed in single or double quotes. Strings are immutable in nature, means contents of string cannot be changed after declaration. Strings have a fixed length in the memory, while lists can dynamically grow or shrink in size by adding or removing elements. Strings are useful for representing textual data, while lists are versatile data structures that can store different type of elements. Multi-line strings can also be created using triple quotes.

Q7) How do tuples ensure data integrity in Python?
- Tuples are immutable data structures in Python. Immutable means, once a tuple is created with some data, we cannot change its elements, add new ones, or remove any. This property makes tuples reliable containers for fixed set of values. Tuples prevent accidental modification of data ensuring the data integrity. Tuples are ideal for storing data that should remain constant throughout the program. Tuples can also be used as dictionary keys, which is useful in maintaining integrity.

Q8) What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is data structure in Python that stores key-value pairs. It use a hash function to compute an index called a hash where the value will be stored in the memory. Hash table allows for fast data retrieval, insertion, and deletion based on key. Dictionaries in Python are implemented using hash tables. When a dictionary is declared, Python uses hash function to convert the keys into numerical indices. These indices are then used to store and retrieve the values. The keys used for declaring the dictionary should be hashable, which means they must be immutable objects like strings, tuples or numbers.

Q9) Can lists contain different data types in Python?
- Yes, lists can contain store data with different data types. Python is dynamically typed langauge, which means variables are not restricted to a single data type. List can store integers, strings, floats, booleans, and even other lists or dictionaries within the same list.

Q10) Explain why strings are immutable in Python.
- In Python, strings are immutable, meaning their values cannot be changed after creation. Instead of modifying the original string, operations that appear to change it actually create a new string object. Strings are designed immutable because it allows python to optimize memory usage. This means if two strings have the same value, they can refer to the same memory location, saving space. Strings ensures data integrity and safety. Once a string is created, it cannot be altered, reducing the risk of unauthorized modifications. This prevents tampering of sensitive data like usernames and passwords.

Q11) What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries and lists are a both powerful data structures in Python, that allows efficient storage of data. But dictionaries are more versatile data structures that stores data in the form of key-value pairs, offering fast lookups. Dictionaries in python offer fast data retrieval. Unlike lists where we have to traverse through each element to find a value, dictionaries use hash table for quick access to value based on keys. Data is easy to understand when it is stored in key-value pairs. Dictionaries are ideal for storing and accessing large datasets quickly.

Q12) Describe a scenario where using a tuple would be preferable over a list.
- Tuples are immutable data structures in Python. Hence, they are primarily used to store data that doesn't change frequently. Tuples are preferred over lists if we want the data in the collection to be read-only, never to change, and always remain the same and constant. Data like weekdays, RGB colors or coordinates can be stored in a tuple which doesn't require any changes. Tuples are faster as compared with lists. So if we require faster data retrieval, we can use tuples over lists.

Q13) How do sets handle duplicate values in Python?
- Sets in Python are designed to store only unique elements. When we add a duplicate element to a set, it simply ignores the duplicate and retains only one instance of that value. Basically, sets are unordered collection of distinct items just like we studied in mathematics. Sets maintain uniqueness by using a hashing mechanism, that allows for efficient lookup and prevents the inclusion of duplicate values.

Q14) How does the “in” keyword work differently for lists and dictionaries?
- The "in" operator when used with lists, it checks if a value exists in the list or not. The "in" operator performs a linear search and it checks each element one by one until it finds a match increasing time.
- The "in" operator when used with dictionaries, it checks only the keys, not the values. As dictionaries use hash tables, so key lookups are very fast and "in" operator works very fast as compared to lists.

Q15) Can you modify the elements of a tuple? Explain why or why not?
- No, we cannot modify the elements of the tuple. Because tuples are immutable data structures in python, meaning their contents cannot be changed, added to, or removed from once they are defined. This immutable nature of the tuple ensures that the data within the tuple remains consistent and predictable throughout the program.

Q16) What is a nested dictionary, and give an example of its use case?
- A nested dictionary in Python is a dictionary where the values are themselves dictionaries. It allows you to represent structured data like tables or trees. This is very common in data analysis, databases, real-world apps etc.
One use case can be storing the information of the students of a particular class.
For eg:

In [ ]:
# use case of nested dictionary

student_10= {"101":{"Name":"Balu","Age":26,"City":"New Delhi"},               # storing information of students of class 10 with nested dictionary
              "102":{"Name":"Adarsh","Age":26,"City":"New Delhi"},
              "103":{"Name":"Rahul","Age":26,"City":"Mumbai"}}
print(student_10["102"]["Name"])         # accessing the details

Adarsh

Q17) Describe the time complexity of accessing elements in a dictionary.
- Accessing elements in a dictionary typically takes constant time regardless of the dictionary's size. This is because, dictionaries use hash table , which allows for direct lookups of elements based on their key. The time complexity of dictionary is O(1) means it directly searches the key and displays the value rather than traversing every element like lists or tuples. Even for large dictionaries with thousands or millions of items, lookups happens very fast and this is one of the reason why dictionaries are heavily used in Python.

Q18) In what situations are lists preferred over dictionaries?
- List are preferred over dictionaries when:
  - we need to preserve the sequence in which the items are added.
  - we need to iterate through items in a specific order.
  - we need to store a collection of items without the need of keys.
  - we need to store dynamic data
  - the data needs to be easily added, removed or modified.

Q19) Why are dictionaries considered unordered, and how does that affect data retrieval?
- A dictionary is termed as unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. Dictionaries did not preserve insertion order at all. This meant that when you accessed or printed the items, the order could vary, as dictionaries were optimized for faster lookups rather than maintaining order. The logical structutre of the dictionary is key-based not position-based, so it is considered as unordered data structure.

Q20) Explain the difference between a list and a dictionary in terms of data retrieval.
- Data inside a list is retrieved with index number. Index is numerical value associated with every element that is stored inside the list. The index number starts from 0 and goes on till the end of the list. The logical structure of list is position-based(index-based). For example if you want to retrieve the 3rd element of the list, we would use index 2.
- Data inside a dictionary is retrieved with the help of a key. Key is a unique identity associated with a value inside a dictionary. Dictionary uses hash table to store the data in key-value pairs. Since it is unordered, the data retrieval is done with the help of the key. For example, to retrieve the value associated with the key "name", you would use the key "name".

# **Data Types and Structures Practical Questions**

Q1) Write a code to create a string with your name and print it.

In [ ]:
name= input("Enter your name:")
print(f"Your name is: {name}")

Enter your name:Balu
Your name is: Balu

Q2) Write a code to find the length of the string "Hello World".

In [ ]:
string= "Hello World"
print(len(string))

11

Q3) Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
string1= "Python Programming"
print(string1[:3])

Pyt

Q4) Write a code to convert the string "hello" to uppercase.

In [ ]:
string2= "hello"
print(string2.upper())

HELLO

Q5) Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [1]:
string3= "I like apple"
print(f"Original sentence: {string3}")
new_str=string3.replace("apple","orange")
print(f"New sentence: {new_str}")

Original sentence: I like apple
New sentence: I like orange

Q6) Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
a= [i for i in range(1,6)]
print("Created list:",a)

Created list: [1, 2, 3, 4, 5]

Q7) Write a code to append the number 10 to the list [1,2,3,4].

In [ ]:
b=[1,2,3,4]
print("Old list:",b)
b.append(10)
print("Appended list:",b)

Old list: [1, 2, 3, 4]
Appended list: [1, 2, 3, 4, 10]

Q8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
c= [1,2,3,4,5]
print("Old list:",c)
c.remove(3)
print("New list:",c)

Old list: [1, 2, 3, 4, 5]
New list: [1, 2, 4, 5]

Q9) Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
new_list= ["a","b","c","d"]
print(f"Second element of the list {new_list} is:",new_list[1])

Second element of the list ['a', 'b', 'c', 'd'] is: b

Q10) Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
d= [10,20,30,40,50]
e=d.copy()
d.reverse()
print(f"List {e} in reverse order:",d)

List [10, 20, 30, 40, 50] in reverse order: [50, 40, 30, 20, 10]

Q11)  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
g=(100,200,300)
print(f"Created Tuple: {g}")

Created Tuple: (100, 200, 300)

Q12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tup= ("red","green","blue","yellow")
print(f"Second last element of the tuple {tup} is:",tup[-2])

Second last element of the tuple ('red', 'green', 'blue', 'yellow') is: blue

Q13) Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tup1 = (10,20,5,15)
min=tup1[0]
for j in tup1:
  if min>j:
    min=j
print(f"The minimum number in the tuple {tup1} is: {min}")

The minimum number in the tuple (10, 20, 5, 15) is: 5

Q14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tup= ("dog","cat","rabbit")
print(f"The index of word 'cat' in the tuple {tup} is:", tup.index("cat"))

The index of word 'cat' in the tuple ('dog', 'cat', 'rabbit') is: 1

Q15)  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
tup = ("apple","mango","kiwi")
if "kiwi" in tup:
  print(f"kiwi is present inside the tuple {tup}.")
else:
  print(f"kiwi is not present inside the tuple {tup}.")

kiwi is present inside the tuple ('apple', 'mango', 'kiwi').

Q16) Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
set1= {'a','b','c'}
print(f"Created Set: {set1}")

Created Set: {'a', 'b', 'c'}

Q17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set1 = {1,2,3,4,5}
set1.clear()    # deletes all the elements inside the set

set()

Q18) Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set1= {1,2,3,4}
print("Old set:",set1)
set1.discard(4)
print("New set:",set1)

Old set: {1, 2, 3, 4}
New set: {1, 2, 3}

Q19) Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
a,b = {1,2,3},{3,4,5}
print(f"Union of set {a} and set {b} is:",a|b)

Union of set {1, 2, 3} and set {3, 4, 5} is: {1, 2, 3, 4, 5}

Q20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
a,b = {1,2,3},{2,3,4}
print(f"Intersection of set {a} and set {b} is:",a&b)

Intersection of set {1, 2, 3} and set {2, 3, 4} is: {2, 3}

Q21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dict1 = {"Name":"Balu","Age":26,"City":"New Delhi"}
print(dict1)

{'Name': 'Balu', 'Age': 26, 'City': 'New Delhi'}

Q22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
dict1= {"Name":"John","Age":25}
print("Old dictionary:",dict1)
dict1["Country"]="USA"
print("Updated dictionary:",dict1)

Old dictionary: {'Name': 'John', 'Age': 25}
Updated dictionary: {'Name': 'John', 'Age': 25, 'Country': 'USA'}

Q23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dict1= {"Name":"Alice","Age":30}
print(dict1["Name"])

Alice

Q24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dict1= {"Name":"Bob","Age":22,"City":"New York"}
dict1.pop("Age")
print(dict1)

{'Name': 'Bob', 'City': 'New York'}

Q25)  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dict1= {"Name":"Alice","City":"Paris"}
if "City" in dict1.keys():
  print("Yes, 'City' key is present!")
else:
  print("No, 'City' key is not present!")

Yes, 'City' key is present!

Q26)  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
a,b,c=[1,2,3,4,5],(1,2,3,4,5),{"Name":"Balu","Age":26,"City":"New Delhi"}
print(f"Created list: {a} , Created tuple: {b} , Created dictionary: {c}")

Created list: [1, 2, 3, 4, 5] , Created tuple: (1, 2, 3, 4, 5) , Created dictionary: {'Name': 'Balu', 'Age': 26, 'City': 'New Delhi'}

Q27)  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random

a=[random.randint(1,100) for i in range(5)]
print(f"Created List: {a}")
print(f"Sorted List: {sorted(a)}")

Created List: [6, 1, 56, 18, 35]
Sorted List: [1, 6, 18, 35, 56]

Q28) Write a code to create a list with strings and print the element at the third index.

In [ ]:
city= ["New Delhi","Mumbai","Hyderabad","Bangalore","Kochi"]
print(f"Element at the third index of the list {city} is : {city[2]}")

Element at the third index of the list ['New Delhi', 'Mumbai', 'Hyderabad', 'Bangalore', 'Kochi'] is : Hyderabad

Q29) Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1= {"Name":"Balu","Age":26}
dict2={"City":"New Delhi","Course":"Data Analytics"}
dict1.update(dict2)
print(f"Combined Dictionary: {dict1}")

Combined Dictionary: {'Name': 'Balu', 'Age': 26, 'City': 'New Delhi', 'Course': 'Data Analytics'}

Q30) Write a code to convert a list of strings into a set.

In [ ]:
city= ["New Delhi","Mumbai","Hyderabad","Bangalore","Kochi"]
a=set(city)
print(a)

{'Mumbai', 'Kochi', 'Hyderabad', 'Bangalore', 'New Delhi'}